@using CornhacksProject.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4" >
        <h2>Map</h2>
        <input type="search" id="searchBox" placeholder="Search for a city" class="form-control"/>
        <br/>
        <div id="map"  style="display: block;"></div>
    </div>
</div>

@section scripts
{
    @* google maps script *@
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@(Constants.googleMapsApiKey)&callback=initMap"
            type="text/javascript">
    </script>
    <script type="text/javascript">

        // script that runs when the page finishes loading
        $(document).ready(function () {
            // defer execution slightly to finish getting map api js
            setTimeout(initMap(), 300);

            //$('#searchBox').submit(function(event) {
            //    event.preventDefault();
            //    query = 
            //    google.maps.places.
            //});
        });

        function initMap() {
            var birthplace = { lat: 40.816303, lng: -96.702351 };
            var map = new google.maps.Map(
                document.getElementById('map'),
                { zoom: 18, center: birthplace }
            );
            var marker = new google.maps.Marker({ position: birthplace, map: map });
        }

    </script>
}
