@{
    ViewBag.Title = "References";
}

<!DOCTYPE html>
<html>
<head>
    <title>References</title>
</head>
<H1>
    References
</H1>
<H2>
    APIs
</H2>
<H4>
    <a href="https://www.airvisual.com/air-pollution-data-api">AirVisual: Air Quality and Pollution API</a>
</H4>
<H4>
    <a href="https://developer.nrel.gov/docs/cleap/general/">National Renewable Energy Laboratory: Energy Consumption API</a>
</H4>
<H4>
    <a href="https://developers.google.com/maps/documentation">Google Maps: Interactive Javascript Map API</a>
</H4>
<H4>
    <a href="https://openchargemap.org/site/develop">Open Charge Map: Electric Vehicle Charging Point API</a>
</H4>
<H4>
    <a href="https://public.opendatasoft.com/explore/dataset/worldcitiespop/api/?disjunctive.country&sort=population&q=lincoln+ne&rows=1&refine.country=us">OpenDataSoft: World Cities Population API</a>
</H4>
</html>

