################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CornhacksProject/bin
/CornhacksProject/obj
/CornhacksProject/.vs/CornhacksProject/v16/Server/sqlite3
.ide
.suo
.dll
.pdb
.lock
.exe
.sqlite
.xml
.ide-wal
.ide-shm
.config