################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CornhacksProject/.vs/CornhacksProject/v16/Server/sqlite3
